
body {
    color: black;
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    
}

.main-ctr {
    /* display flex is necessary here as a workaround for margin-collapse issue :
     .hero h1{margin-top} applies to grandparent element instead of parent */

    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    outline: 1px solid gray;
    outline-offset: 5px; 
    border-radius: 5vh;
    overflow: auto;
    
    
}

.hero {
    background-image: url("images/torshov.jpg"), url("https://raw.githubusercontent.com/jo-1842/Hometown-homepage---Visit-Torshov-/main/ressources/images/torshov.jpg") ;
   /*fallback img for visualisation in github preview */
    background-size: cover;
    width: 100%;
    color: white;
    margin: 0;
    min-height: 300px;
    
    
}

.hero h1 {
    background-color: #457B9D;
    margin-top: 25px;
    border-radius: 5px;
    padding: 0.1em 1em;
  }

.hero h2 {
    background-color: #1D3557;
    font-size: 1.1em;
    margin-top: 9px;
    border-radius: 5px;
    padding: 0.3em 0.3em;
}

.activities{
    background-color: #F1FAEE;
    margin: 0;
    padding: 2em;
}

.activities h3{
    margin:0;
    font-size: 1.8em;
}




.activity-card {
    padding: 10px;
    margin: 10px;
} 

.activity-card h4 {
    margin-bottom: 0; 
}

.activities img {
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
}

.guide {
    border-bottom: 5px solid #457B9D;
    background-color: #A8DADC;
   
}

.guide img{
    max-height: 85%;
    max-width: 40vh;
    padding: 10px;
}
.guide-txt {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
}

.guide-txt h3 {
    margin: 0;
}

.guide-txt p {
    font-style: italic;
}



@media all and (min-width: 600px){
    .hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    }

    .activity-card{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .activities-cards-ctr {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .activities img {
        width: 50vw;
        height: 50vw;
        max-width: 8em;
        min-width: 8em;
        max-height: 8em;
        min-height: 8em;
        
    }

}
@media all and (min-width: 900px){
   .guide {
    display: flex;
    width: 50%;
    margin: 25px auto;
    }
}